/* Chat */

#azure-openai-chat-form {
	.form-item-user-prompt {
		display: inline-block;
	}
}

#cinder-chatbot-wrapper {
	background-color: #f8f8f8;
	padding: 15px;
	margin-top: 15px;
	max-height: 450px;
	min-height: 150px;

	.group {
		.prompt {
			font-weight: bold;
		}

		.response {
			padding-bottom: 15px;
			padding-top: 15px;
		}
	}
}
