/* Global styles */

header {
	.logo {
		img {
			width: 100%
		}
	}
}

.cinder-section {
	font-size: 0.8em;
}

.header-rwd {
	opacity: 0.95;
}

// Above mobile
@media (min-width: 768px) {
	header {
		.logo {
			margin: -20px 0px 0px 0px;
		}
	}
}

#wb-info .brand img {
	height: unset;
	max-width: 100%;
	mix-blend-mode: multiply;
}
