/* Styles */
/* Chat */
/* line 4, ../sass/components/_chat.scss */
#azure-openai-chat-form .form-item-user-prompt {
  display: inline-block;
}
/* line 8, ../sass/components/_chat.scss */
#azure-openai-chat-form #edit-user-prompt {
  width: 100%;
}
/* line 12, ../sass/components/_chat.scss */
#azure-openai-chat-form .form-submit {
  margin-bottom: 5px;
}

/* line 17, ../sass/components/_chat.scss */
#cinder-chatbot-wrapper {
  background-color: #f8f8f8;
  padding: 15px;
  margin-top: 15px;
  max-height: 450px;
  min-height: 150px;
}
/* line 25, ../sass/components/_chat.scss */
#cinder-chatbot-wrapper .group .prompt {
  font-weight: bold;
}
/* line 29, ../sass/components/_chat.scss */
#cinder-chatbot-wrapper .group .response {
  padding-bottom: 15px;
  padding-top: 15px;
}

@media (max-width: 768px) {
  /* line 38, ../sass/components/_chat.scss */
  #azure-openai-chat-form .form-item-user-prompt {
    display: block;
  }
  /* line 42, ../sass/components/_chat.scss */
  #azure-openai-chat-form .form-submit {
    width: 100%;
  }
}
/* Global styles */
/* line 5, ../sass/components/_global.scss */
header .logo img {
  width: 100%;
}

/* line 11, ../sass/components/_global.scss */
.gc-main-footer {
  padding-top: 3em;
}

/* line 15, ../sass/components/_global.scss */
.cinder-section {
  font-size: 0.8em;
}

/* line 19, ../sass/components/_global.scss */
.header-rwd {
  opacity: 0.95;
}

@media (min-width: 992px) {
  /* line 26, ../sass/components/_global.scss */
  header .logo {
    margin: -20px 0px 0px 0px;
  }
}
/* line 32, ../sass/components/_global.scss */
#wb-info .brand img {
  height: unset;
  max-width: 100%;
  mix-blend-mode: multiply;
}

/* line 4, ../sass/pages/_home.scss */
.home .home-your-gov {
  background-image: url(/themes/custom/cinder/images/cinder-blog.jpg);
}

@media screen and (max-width: 991px) {
  /* line 11, ../sass/pages/_home.scss */
  .home .home-your-gov {
    background-image: none;
  }
}
