/* Styles */
/* Global styles */
/* line 5, ../sass/components/_global.scss */
header .logo img {
  width: 100%;
}

/* line 11, ../sass/components/_global.scss */
.cinder-section {
  font-size: 0.8em;
}

/* line 15, ../sass/components/_global.scss */
.header-rwd {
  opacity: 0.95;
}

@media (min-width: 768px) {
  /* line 22, ../sass/components/_global.scss */
  header .logo {
    margin: -20px 0px 0px 0px;
  }
}
