/* Styles */
/* Chat */
/* line 4, ../sass/components/_chat.scss */
#azure-openai-chat-form .form-item-user-prompt {
  display: inline-block;
}

/* line 9, ../sass/components/_chat.scss */
#cinder-chatbot-wrapper {
  background-color: #f8f8f8;
  padding: 15px;
  margin-top: 15px;
  min-height: 450px;
}
/* line 16, ../sass/components/_chat.scss */
#cinder-chatbot-wrapper .group:not(:first-child) {
  margin-top: 15px;
  border-top: 1px solid #e3e3e3;
  padding-top: 15px;
}
/* line 22, ../sass/components/_chat.scss */
#cinder-chatbot-wrapper .group .prompt {
  font-weight: bold;
}
/* line 26, ../sass/components/_chat.scss */
#cinder-chatbot-wrapper .group .response {
  padding-bottom: 15px;
  padding-top: 15px;
}

/* Global styles */
/* line 5, ../sass/components/_global.scss */
header .logo img {
  width: 100%;
}

/* line 11, ../sass/components/_global.scss */
.cinder-section {
  font-size: 0.8em;
}

/* line 15, ../sass/components/_global.scss */
.header-rwd {
  opacity: 0.95;
}

@media (min-width: 992px) {
  /* line 22, ../sass/components/_global.scss */
  header .logo {
    margin: -20px 0px 0px 0px;
  }
}
/* line 28, ../sass/components/_global.scss */
#wb-info .brand img {
  height: unset;
  max-width: 100%;
  mix-blend-mode: multiply;
}

/* line 4, ../sass/pages/_home.scss */
.home .home-your-gov {
  background-image: url(/themes/custom/cinder/images/cinder-blog.jpg);
}

@media screen and (max-width: 991px) {
  /* line 11, ../sass/pages/_home.scss */
  .home .home-your-gov {
    background-image: none;
  }
}
